.container{
    display: grid;
    height: 100vh;
    position: relative;
}

.col_1{
    display: grid;
    grid-template-rows: max-content 1fr 9rem;
    grid-gap: 5rem;
    justify-items: center;
    background-color: #200043;
    background-image: linear-gradient(to bottom, #1f0042, #0c0123);
}

.about_container{
    display: grid;
    grid-gap: 13rem;
}

.about_container_section_1{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 5rem;
}

.about_container_section_1_col_1{
    width: 100%;
    height: 48rem;
    background-color: #311254;
    display: grid;
    align-items: center;
}

.about_container_section_1_col_1_box{
    position: absolute;
}

.about_container_section_1_col_1_text{
    display: grid;
    grid-gap: 4rem;
    justify-self: end;
    margin-right: -19rem;
    margin-top: -11rem;
    width: 43rem;
}

.about_container_section_1_col_1_text_p{
    font-size: 18px;
    font-family: "Montserrat Regular";
    color: white;
    line-height: 40px;
    margin-left: -10rem;
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.about_container_section_1_col_1_text_p > span{
    width: 6rem;
    height: 3px;
    background-color: white;
}

.about_container_section_1_col_1_text_h3{
    font-size: 76px;
    font-family: "Montserrat SemiBold";
    color: white;
    line-height: 80px;
}

.about_container_section_1_col_2{
    align-self: end;
    margin-right: 6rem;
}

.about_container_section_1_col_2 > p{
    font-size: 18px;
    font-family: "Montserrat Regular";
    color: white;
    line-height: 40px;
}

.about_container_section_2{
    width: 100%;
    display: grid;
    justify-items: center;
}

.about_container_h3{
    width: 90%;
    font-size: 55px;
    color: white;
    font-family: "Montserrat SemiBold";
    line-height: 65px;
}

.about_container_section_3{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 5rem;
}

.about_container_section_3_col_1{
    width: 100%;
    height: 48rem;
    background-color: #311254;
    display: grid;
    align-items: center;
}

.about_container_section_3_col_1_box{
    position: absolute;
}

.about_container_section_3_col_1_text{
    display: grid;
    grid-gap: 2rem;
    justify-self: end;
    margin-top: -11rem;
    width: 75%;
    margin-right: 5rem;
}

.about_container_section_3_col_1_text_p{
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Montserrat Regular";
    color: white;
    line-height: 40px;
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.about_container_section_3_col_1_text_p > span{
    width: 6rem;
    height: 3px;
    background-color: white;
}

.about_container_section_3_col_1_p{
    display: grid;
    grid-gap: 2rem;
}

.about_container_section_3_col_1_p > p{
    font-size: 18px;
    font-family: "Montserrat Regular";
    color: white;
    line-height: 40px;
}

.about_container_section_3_col_1_text_h3{
    font-size: 76px;
    font-family: "Montserrat SemiBold";
    color: white;
    line-height: 80px;
}

.about_container_section_3_col_2{
    margin-left: 6rem;
    margin-top: 2rem;
    display: grid;
    grid-gap: 3rem;
    align-content: start;
}

.about_container_section_3_col_2 > p{
    font-size: 18px;
    font-family: "Montserrat Regular";
    color: white;
    line-height: 40px;
}

.about_container_section_4{
    display: grid;
    grid-template-columns: 1fr;
}

.about_container_section_4_col_1{
    width: 100%;
    height: 25rem;
    background-color: #311254;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.about_container_section_4_col_1_box{
    position: relative;
}

.about_container_section_4_col_1_text{
    display: grid;
    grid-gap: 1rem;
    justify-self: center;
}

.about_container_section_4_col_1_text_p{
    font-size: 16px;
    font-family: "Montserrat SemiBold";
    color: #ff00f7;
    line-height: 40px;
    display: flex;
    align-items: center;
    grid-gap: 5px;
}

.about_container_h3 {
    width: 100%;
    font-size: 50px;
    color: white;
    font-family: "Montserrat SemiBold";
    line-height: 65px;
}

.about_container_section_4_col_1_text_p > span{
    width: 6rem;
    height: 3px;
    background-color: white;
}

.about_container_section_4_col_1_p{
    display: grid;
    grid-gap: 2rem;
}

.about_container_section_4_col_1_p > p{
    font-size: 18px;
    font-family: "Montserrat Regular";
    color: white;
    line-height: 40px;
}

.about_container_section_4_col_1_text_h3{
    font-size: 76px;
    font-family: "Montserrat SemiBold";
    color: white;
    line-height: 80px;
}